body {
  background-color: rgb(153, 224, 224);
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  max-width: 1000px;
  border-style: groove;
  width: 100%;
}

ul.unordered-list {
  font-size: 20px;
}

#heading {
  font-size: 50px;
}

p.groove {
  border-style: groove;
  font-family: "Times New Roman", Times, serif;
}

.text {
  text-align: start;
}
